#dungeon-table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
}

#dungeon-table th {
    font-weight: bold;
    background-color: gray;
}

#dungeon-table .classic-cell {
    background-color: aqua;
}

#dungeon-table .elite-cell {
    background-color: orange;
}

#dungeon-table td {
    border: 1px solid black;
}

#dungeon-table tbody tr td:first-child,
#dungeon-table tbody tr td:nth-child(2) {
    text-align: center;
}